<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload article</title>
</head>
<body>
<div align="center">
    <h2>Add article</h2>
    <div>
        <form method="POST" enctype="multipart/form-data" action="/articles/">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>