<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div align="center">
    <h2>Articles</h2>
    <div th:each="article : ${articles}">
        <div style="display: inline-block">
            <a th:href="@{/articles/{id}(id=${article.getId()})}" th:text="${article.getTitle()}">article</a>
        </div>
        <div style="display: inline-block">
            <p th:text="${article.getUploadDate()}">article</p>
        </div>
    </div>
    <hr/>
    <div>
        <form method="POST" enctype="multipart/form-data" action="/articles/">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>