<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div align="center">
    <h2>Articles</h2>
    <a href="/articles/add">Add</a>
    <br/>
    <hr/>
    <div th:each="article : ${articles}">
        <div style="display: inline-block">
            <h4 th:text="${article.getTitle()}">title</h4>
        </div>
        <div style="display: inline-block">
            <p th:text="${article.getContent()}">article</p>
        </div>
        <hr/>
    </div>
    <hr/>
</div>
</body>
</html>